@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish:wght@300&family=Piazzolla:wght@200;300;400;900&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Piazzolla', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
.header{
    background-image: url(./assets/s.webp);
    background-size: cover;
    background-position:center;
    
} 
.bar{
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
}
.navbar button{
    color: white !important;
    margin-top: 25px;
    border: 1px solid white !important;
}
.navbar span{
    color: white !important;
}
.navbar .navbar-toggler{
    color: white !important;
}
.list1{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.list12{
    display: flex;
    justify-content: flex-end;
}
.list1 a{
    margin: 0px 10px;
    text-decoration:underline;
    font-weight: bold;
    color: white !important;
    letter-spacing: 1px;
}
.list1 a:hover{
    cursor: pointer;
}
.line{
    border-bottom: 1.2px solid rgb(74, 243, 74);
    margin-right: 20px;
}
.list2{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.list2 a{
    margin: 0px 5px;
    color: white !important;
    text-decoration:underline;
}
.contact{
    text-decoration: none !important;
}
.logo{
    margin-top: 20px;
    text-align: center;
    margin-left: -50px;
}
.logo-img{
    width: 152px;
    height: 127px;
}
.logo h4{
    text-align: center;
    color: white;
    font-weight: 500;
}
.logo p{
    text-align: center;
    color: white;
    letter-spacing: 4px;
    margin-top: -5px;
}
.below{
    margin-top: 9vh;
    margin-left: 110px;
    height: 300px;
    color: white;
    margin-bottom: 50px;
}
.below h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 50px;
}
.below span{
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.below p{
    margin-top: 50px;
    font-weight: 500;
    line-height: 20px;
}
.vision h1 h6{
    font-weight: bold;
}
.vision h1{
    margin-bottom: 15px;
    margin-top: -20px;
}
.vision h6{
    margin-bottom: 25px;
    font-weight: bold;
}
.vision{
    margin-bottom: 20px;
}
.vision span{
    color: rgb(190, 56, 150);
}
.focus h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
}
.pic1{
    background-image: url(./assets/k1.svg);
    text-align: center;
    padding: 10px;
    /* height: 70vh; */
}
.pic2{
    background-image: url(./assets/k2.svg);
    text-align: center;
    padding: 10px;
    /* height: 70vh; */
}
.pic3{
    background-image: url(./assets/k3.svg);
    text-align: center;
    padding: 10px;
    /* margin-right: 20px; */
    /* height: 70vh; */
}
.logo1{
    height: 90px;
    width: 90px;
    margin: 80px 0 40px 0;
    
}
.focus h3{
    margin:20px;
}
.focus p{
    margin-bottom: 80px;

}
.diff{
    background-image: url(./assets/s1.webp);
    width: 100%;
    height: 115vh;
    background-position: bottom;
    background-size: cover;
}
.diff h1{
    color: white;
    padding-top: 80px;
    font-size: 4rem;
    line-height: 60px;
}
.diff p{
    color: white;
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}
.ch{
    margin-left: 60px;
}

.sub2{
    width: 80%;
    height: 30vh;
    padding-left: 10px;
}
.sub3{
    width: 90%;
    height: 30vh;
}
.sub4{
    width: 78%;
    height: 30vh;
    /* margin-left: 50px; */
}
.sub5{
    width: 40%;
    margin-left: 17vw;
}
.part1{
    margin-top: 60px;
    text-align: center;
}
.part1 h6{
    margin-top: 8px;
}
.alag1{
    padding: 37px;
    text-align: center;
    color: rgb(25, 178, 239);
}
.alag{
    text-align: center;
    text-transform: capitalize;
}
.play{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
    background-image: linear-gradient(to right,rgb(31, 198, 103),rgb(0, 103, 95));
    margin: 50px 80px 10px 80px;
    padding: 20px;
    border-radius: 30px;
}
.impact{
    background-image: url(./assets/n8.png);
    width: 100%;
    /* height: 100vh; */
    background-position: bottom;
    background-size: cover;
}
.sub{
    width: 30px;
    height: 30px;
    color: white;
    margin-bottom: 10px;
    margin-right: 10px;
}
.photo{
    width: 25%;
    height: 12vh;
    margin-top: 100px;
    margin-left: 100px;
}
.imp{
    padding-top: 50px;
    margin-left: 50px;
    color: white;  
}
.imp span{
    color: yellow;
    font-size: 3rem;
}
.height{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,rgb(226, 245, 119),rgba(3, 117, 105, 0.977));
    margin-left: -12px;
}
.port{
    margin-top: 15vh;
    text-align: center;
}
.port h5{
    margin-top: 50px;
    font-weight: bolder;
}
.sp{
    letter-spacing: 4px;
}
.port h4{
    font-weight: bold;
}
.chk{
    margin-bottom: -2px;
}
.port h6,span{
    font-weight: bolder;
    font-size: large;
}
.start{
    /* height: 590px; */
    background-image: url(./assets/k5.png);
    background-size: cover;
    background-position:center;
}
.start h4{
    margin-top: 520px;
    font-size: 2rem;
    font-weight: bold;
}
.start span{
    color: green;
    font-size: 3rem;
}


/* @media (max-width: 768px) {
    .height{
        margin:20px;
        height: 52vh;
    }
    .photo{
        margin-top: 160px;
    }
    .impact{
        height: 100vh;
    }
    .below{
        width: 80%;
    }
    .sub5{
        margin-left: 200px;
        margin-bottom: 20px;
    }
    .start{
        margin-top: 20px;
    }
    .diff{
        height: 80vh;
    }
    .diff h1{
        padding-top: 0px;
    }
    .ch{
        padding-top: 300px;
    }
    .pic1{
    background-position: bottom;
    background-size: cover;
    }
    .pic2{
        background-position: bottom;
        background-size: cover;
        margin: 5px 0;
        }
        .pic3{
            background-position: bottom;
            background-size: cover;
        }
    .below{
        margin-top: 5vh;
        font-weight: bolder;
    }
    .main-header{
        display:block;
        justify-content: center; 
    }
    .logo{
        padding-top: 10px;
        margin-left: 30vw;
    }
    .list2{
        margin-left: 25vw;
        display: block;
        margin-top: 2vh;
    }
    .list2 li{
        padding: 10px;
        font-size: large;
        font-weight: bold;
    }
    .line{
        margin-left: 10vw;
    }
    .list1{
        margin-right: 55px;
        margin-top: 10px;
    }
    .below{
        margin-left: 40px;
    }
    .header{
        height: 85vh;
    }
} 

@media (max-width:576px) {
    .sub5{
        margin-left: 15vw;
    }
    .vision p,h6{
        width: 80%;
    }
    .photo{
        margin-top: 80px;
    }
    .line{
        width: 80%;
    }
    .list1 a{
        padding: 5px;
    }
    .list1{
        margin-right: 1vw;
    }
    .height{
        margin-left: 0;
    }
}  */

@media (min-width:1400px) {
    .impact{
        height: fit-content;
    }
    .photo{
        margin-left: 200px;
        width: 20%;
        height: 10vh;
    }
    .imp{
        margin-left: 200px;
    }
    .diff{
        height: 80vh;
    }
    .ch{
        margin-left: 200px;
    }
    .start{
        /* height: 75vh; */
        background-position: right;
    }
    .start h4{
        margin-top: 750px;
    }
    .header{
        padding: 0px 150px 0 100px;
    }
    .background4{
        padding: 0px 150px 0 100px;
    }
}



 @media (max-width:992px) {
    .logo{
        text-align: center;
    }
    .ab1{
        float: center;
    }
    .list1{
        display: flex;
        flex-direction: column;
    }
    .list2{
        display: flex;
        flex-direction: column;
    }
    .photo{
        width: 25%;
        height: 50%;
    }
    
 }

 @media (max-width:768px) {
    .pic2{
        margin: 10px 0px;
    }
 }
 
 @media (max-width:400px) {
    .below p{
        display: none;
    }
    .list12{
        display: block;
    }
    .header{
        width: 100%;
        height: fit-content;
    }
    .below h1 span{
        font-size: 2rem;
    }
    .logo{
        margin-left: 20px;
    }
    .diff h1{
        font-size: 3rem;
    }
 }
@media (max-width:1400px) {
    .start h4{
        margin-top: 700px;
    }
}

@media (max-width:576px){
    .logo{
        margin-left: 10px;
    }
    .below{
        margin-left: -1px;
    }
}






/* About css */


.background4{
    background:url(./assets/c1.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-position:center;
    
}
.content4{
    color: white;
    font-family: "DM Sans", sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    
  }
  .firstcontent4{
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
  }
  .firstcontent4 span{
    font-size: 50px;
    font-weight: 700;
  }
  .bold{
      font-weight: bold;
  }
  .secondcontent4{
    padding: 20px 0;
    line-height: 18px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    padding-bottom: 90px;
  }
  .waste{
    color: rgb(27, 27, 27) !important;
  }
  .bwwcs{
    color: rgb(27, 27, 27) !important;
    font-size: 40px;
    letter-spacing: 2px;
  }
  .bwwcsimg{
    width: 25%;
    margin-top: 20px;
    float: right;
    padding-top: 20px;
  }






  /* navbar css */
